/* font-family: 'Crete Round', serif;
font-family: 'Inter', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif; */

* {
  box-sizing: border-box;
  margin: 0;
}

.items {
  margin-top: 12px;
  margin-bottom: 0;
}

button {
  height: 48px;
  width: 100%;
  border: none;
  font-style: normal;
  font-weight: bold;
  font-family: 'Inter', sans-serif;
  color: #fff;
  font-size: 17px;
  line-height: 24px;
  background: #ff6b00;
  padding: 12px;
  cursor: pointer;
}

button:hover {
  background: #fff5e1;
  border: 1px solid #f55800;
  box-sizing: border-box;
  color: #f55800;
}

button:active {
  background: #e05304;
  color: #f4f1f0;
}

.btn01 {
  width: 124px;
}

.btn03 {
  width: 161px;
  margin-bottom: 209px;
}

body {
  background-color: #1c1a19;
}

.block {
  display: flex;
  color: white;

  /* border: 5px solid goldenrod; */
  /* flex: 1 1; */
}

header {
  flex-flow: row;
  justify-content: space-between;
  background-color: #3c3a39;
  align-items: center;
  height: 48px;
}

.name {
  height: 24px;
  left: 12px;
  padding-inline-start: 24px;
  top: 10px;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0;
  text-align: center;
}

.menu {
  height: 40px;
  left: 311px;
  top: 4px;
  margin-inline-end: 24px;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  align-items: flex-start;
  top: 92px;
}

.text {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
  color: white;
}

section {
  padding-block: 120px;
  padding-inline: 24px;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  height: 100%;
}

.title {
  font-family: 'Crete Round', serif;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0;
  text-align: left;
}

#introduction {
  max-width: 566px;
}
.title01 {
  left: 24px;
  top: 120px;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 0.37px;
  color: #ff6b00;
  flex: none;
  order: 0;
  flex-grow: 0;

  /* margin: 12px 0px; */
}

.text01 {
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0;
  text-align: left;
  color: #fff5e1;
}

.social_media {
  height: 40px;
  left: 24px;
  top: 430px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
}

.section01 {
  background-image: url(images/Background.svg);
  background-size:auto;
  background-repeat: no-repeat;
  background-position: bottom right;
}

.work {
  background-color: white;
  display: flex;
  flex-flow: grid;
  row-gap: 24px;
  /* justify-content: center;
  flex: 1 1; */
}

#work_title {
  display: inline-flex;
  flex-flow: wrap row;
  align-items: center;
  padding: 0 12px;
}

.cover {
  margin-top: 80px;
  max-width: 684px;
}

ul {
  list-style-type: none;
}

.presentation {
  font-size: 40px;
  line-height: 52px;
  letter-spacing: 0;
  text-align: left;
  color: #1c1a19;
  /* margin-bottom: 24px; */
}

.separator {
  border-top: 1px solid #212121;
  flex-basis: 300px;
  flex-grow: 1;
  margin: 0 24px;
}

#work_cover {
  display: flex;
  flex-flow: row wrap ;
}

.subtitle {
  width: 100%;
  font-size: 32px;
  line-height: 44px;
  letter-spacing: 0;
  text-align: left;
  color: white;
  margin-top: 80px;
}

article {
  background:
    linear-gradient(180.45deg, rgba(38, 38, 38, 0) 0.75%, rgba(38, 38, 38, 0.9) 61.94%),
    url(images/Card_background.png);
  background-repeat: no-repeat;
}

.card {
  display: flex;
  max-width: 327px;
  padding-inline: 16px;
  flex-flow: column nowrap;
  justify-content: center;
}

.card01 {
  display: flex;
  max-width: 448px;
  flex-flow: column nowrap;
  justify-content: center;
  background: none;
}

.text03 {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #091e42;
}

.languages {
  display: flex;
  flex-flow: row;
  justify-content: left;
  width: 100%;
  padding: 0;
}

.lang_item {
  border: 1px solid #8993a4;
  box-sizing: border-box;
  color: white;
  height: 40px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  text-align: center;
  padding: 10px 12px;
  margin-inline-end: 12px;
}

.font_black {
  color: #091e42;
  margin-top: 0;
}

.ul1 {
  list-style: inside url(images/Rectangle_55.svg);
}

.ul2 {
  list-style: inside url(images/Rectangle_56.svg);
}

.ul3 {
  list-style: inside url(images/Rectangle_57.svg);
}

.ul_about {
  list-style: none;
  font-family: 'Inter', sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 70px;
  letter-spacing: 0;
  text-align: center;
  padding-top: 128px;
  border-top: 1px solid white;
  padding-inline-start: 0;
}

.ul_content {
  list-style: none;
  font-size: 22px;
  font-weight: 400;
  line-height: 43px;
}

.li_about {
  padding: 12px;
}

span {
  padding-left: 12px;
}

.about {
  background-image: url(images/Frame_about.svg);
  background-repeat: no-repeat;
  background-position: bottom 1400px right;
}

footer {
  background: white;
}

footer h2 {
  font-family: 'Inter', sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 0;
  text-align: center;
  color: #172b4d;
  margin-bottom: 58px;
}

.contact_ul {
  display: inline flex;
  flex-flow: column nowrap;
  align-items: center;
  max-width: 100%;
  padding-inline-start: 0;
  margin-bottom: 100px;
}

ul.contact_ul > li {
  display: flex;
  margin-bottom: 24px;
  width: 100%;
  justify-content: center;
}

ul.contact_ul > li > input {
  width: 100%;
  min-width: 48px;
  border: none;
  border-bottom: 1px solid #dbd8d7;
  font-family: 'Inter', sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
}

textarea {
  width: 100%;
  border: none;
  padding: 12px;
  resize: vertical;
  background: #fbf8f7;
  min-height: 114px;
  font-family: 'Inter', sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
}

input::placeholder {
  padding: 15px;
}

textarea::placeholder {
  color: #3c3a39;
}

#form_button {
  width: auto;
}

@media (min-width: 600px) {
  .items {
    margin-top: 24px;
  }

  .name {
    font-size: 20px;
  }

  .title01 {
    font-size: 72px;
    line-height: 81px;
  }

  .text01 {
    color: white;
    font-size: 32px;
  }

  .text {
    font-size: 20px;
  }

  .text02 {
    color: #f4f5f7;
    line-height: 32px;
  }

  .section01 {
    flex-flow: row;
    align-items: center;
    padding-block: 192px;
  }

  .social_media {
    order: -1;
    flex-flow: column;
    justify-content: center;
    margin: 0 87px 0 12px;
  }

  .work{
    padding: 141px;
  }

  #work_cover .title {
    font-size: 40px;
    line-height: 52px;
  }

  #work_cards .text {
    font-size: 17px;
  }
}