/* font-family: 'Crete Round', serif;
font-family: 'Inter', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif; */

* {
  box-sizing: border-box;
  margin: 0;
}

.items {
  margin-top: 12px;
  margin-bottom: 0;
}

button {
  height: 48px;
  width: 100%;
  border: none;
  font-style: normal;
  font-weight: bold;
  font-family: 'Inter', sans-serif;
  color: #fff;
  font-size: 17px;
  line-height: 24px;
  background: #ff6b00;
  padding: 12px;
  cursor: pointer;
  transition: all 0.6s ease-out;
}

button:hover {
  background: #fff5e1;
  border: 1px solid #f55800;
  box-sizing: border-box;
  color: #f55800;
}

button:active {
  background: #e05304;
  color: #f4f1f0;
}

.btn01 {
  width: 124px;
}

.btn03 {
  width: 161px;
}

body {
  background-color: #1c1a19;
}

.block {
  display: flex;
  color: white;

  /* border: 5px solid goldenrod; */
}

header {
  flex-flow: row;
  justify-content: space-between;
  background-color: #3c3a39;
  align-items: center;
  height: 48px;
}

.name {
  height: 24px;
  left: 12px;
  padding-inline-start: 24px;
  top: 10px;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0;
  text-align: center;
}

.menu {
  height: 40px;
  left: 311px;
  top: 4px;
  margin-inline-end: 24px;
}

#nav {
  display: none;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  align-items: flex-start;
  top: 92px;
}

.text {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
  color: white;
}

section {
  padding-block: 120px;
  padding-inline: 24px;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
}

.title {
  font-family: 'Crete Round', serif;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0;
  text-align: left;
}

#introduction {
  max-width: 566px;
}

.title01 {
  left: 24px;
  top: 120px;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 0.37px;
  color: #ff6b00;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.text01 {
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0;
  text-align: left;
  color: #fff5e1;
}

.social_media {
  height: 40px;
  left: 24px;
  top: 430px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
}

.section01 {
  background-image: url(images/Background.svg);
  background-repeat: no-repeat;
  background-position: bottom right;
}

.work {
  background-color: white;
  display: flex;
  row-gap: 24px;
  padding-inline: 0;
}

.work > * > * {
  margin-inline: 24px;
}

#work_title {
  display: inline-flex;
  flex-flow: wrap row;
  align-items: center;
  padding: 0 12px;
}

.cover {
  max-width: 100%;
  flex: 1 1;
  margin-bottom: 24px;
  transition: transform 1s ease;
}

ul {
  list-style-type: none;
}

.presentation {
  font-size: 40px;
  padding: 16px 0;
  line-height: 52px;
  letter-spacing: 0;
  text-align: left;
  color: #1c1a19;
  margin-inline-end: 24px;
}

.separator {
  border-top: 1px solid #212121;
  flex-basis: 380px;
  flex-grow: 1;
}

#work_cover {
  margin-top: 80px;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
}

.subtitle {
  width: 100%;
  font-size: 32px;
  line-height: 44px;
  letter-spacing: 0;
  text-align: left;
  color: white;
  margin-top: 80px;
}

article {
  background:
    linear-gradient(180.45deg, rgba(38, 38, 38, 0) 0.75%, rgba(38, 38, 38, 0.9) 61.94%),
    url(images/Card_background.png);
  background-repeat: no-repeat;
  max-width: 369px;
}

.card {
  display: flex;
  max-width: 369px;
  padding-inline: 16px;
  flex-flow: column nowrap;
  justify-content: center;
}

.card01 {
  display: flex;
  max-width: 448px;
  flex-flow: column nowrap;
  justify-content: center;
  background: none;
}

.text03 {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #091e42;
}

#work_cards article {
  margin: 0 0 24px 24px;
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
}

#work_cards {
  display: flex;
  flex-flow: row wrap;
  justify-content: left;
  max-width: 1200px;
}

.languages {
  display: flex;
  flex-flow: row;
  justify-content: left;
  width: 100%;
  padding: 0;
}

.lang_item {
  border: 1px solid #8993a4;
  box-sizing: border-box;
  color: white;
  height: 40px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  text-align: center;
  padding: 10px 12px;
  margin-inline-end: 12px;
}

.font_black {
  color: #091e42;
  margin-top: 0;
}

.ul1 {
  list-style: inside url(images/Rectangle_55.svg);
}

.ul2 {
  list-style: inside url(images/Rectangle_56.svg);
}

.ul3 {
  list-style: inside url(images/Rectangle_57.svg);
}

#about_header {
  max-width: 566px;
  padding-bottom: 209px;
}

.ul_about {
  list-style: none;
  font-family: 'Inter', sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 70px;
  letter-spacing: 0;
  text-align: center;
  padding-top: 128px;
  border-top: 1px solid white;
  padding-inline-start: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.ul_content {
  list-style: none;
  font-size: 22px;
  font-weight: 400;
  line-height: 43px;
}

.ul_about > li {
  flex: 1 1 380px;
}

.li_about {
  padding: 12px;
}

span {
  padding-left: 12px;
}

.about {
  background-image: url(images/Frame_about.svg);
  background-repeat: no-repeat;
  background-position: top 300px right;
}

footer {
  background: white;
  flex-flow: column;
  align-items: center;
  width: 100%;
}

#form_section {
  flex-flow: row wrap;
  width: 100%;
}

footer h2 {
  font-family: 'Inter', sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 0;
  text-align: center;
  color: #172b4d;
  margin-bottom: 58px;
  max-width: 455px;
}

form {
  flex: 1 1 300px;
}

.contact_ul {
  display: inline flex;
  flex-flow: column nowrap;
  align-items: center;
  max-width: 100%;
  padding-inline-start: 0;
  margin-bottom: 100px;
}

ul.contact_ul > li {
  display: flex;
  margin-bottom: 24px;
  width: 100%;
  justify-content: center;
}

ul.contact_ul > li > input {
  width: 100%;
  min-width: 48px;
  border: none;
  border-bottom: 1px solid #dbd8d7;
  font-family: 'Inter', sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
}

textarea {
  width: 100%;
  border: none;
  padding: 12px;
  resize: vertical;
  background: #fbf8f7;
  min-height: 114px;
  font-family: 'Inter', sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
}

input::placeholder {
  padding: 15px;
}

textarea::placeholder {
  color: #3c3a39;
}

#form_button {
  width: auto;
}

#footer_social {
  order: 1 !important;
  flex-flow: row !important;
  justify-content: center;
  border-top: 1px solid #dfe1e6;
  width: 100%;
  margin: 0;
  padding: 15px 0;
  height: auto;
}

footer .icon {
  filter:
    brightness(0) saturate(100%)
    invert(34%)
    sepia(38%)
    saturate(346%)
    hue-rotate(179deg)
    brightness(94%)
    contrast(89%);
}

#finish {
  height: 5px;
  width: 134px;
  background: #0d151e;
  border-radius: 10px;
  order: 3;
  margin-bottom: 5px;
}

@media (min-width: 1000px) {
  .items {
    margin-top: 24px;
  }

  .name {
    font-size: 20px;
  }

  .title01 {
    font-size: 72px;
    line-height: 81px;
  }

  .text01 {
    color: white;
    font-size: 32px;
  }

  .text {
    font-size: 20px;
  }

  .text02 {
    color: #f4f5f7;
    line-height: 32px;
  }

  .section01 {
    /* background-image: url(images/Illustration-header.svg); */
    flex-flow: row;
    align-items: center;
    padding-block: 192px;
  }

  .social_media {
    order: -1;
    flex-flow: column;
    justify-content: center;
    margin: 0 87px 0 12px;
  }

  .work {
    padding: 141px;
  }

  #work_cover {
    flex-direction: row;
  }

  #work_cover .title {
    font-size: 40px;
    line-height: 52px;
  }

  #work_cards .text {
    font-size: 17px;
  }

  .cover {
    margin-inline-end: 24px;
  }

  .cover:hover {
    transform: scale(1.1);
  }

  #work_cards article {
    margin: 0 24px 37px 0;
  }

  #about_header {
    padding-bottom: 130px;
  }

  .about {
    padding-inline: 141px;
  }

  .ul_content {
    padding-inline-start: 0;
  }

  .ul_about > li {
    text-align: left;
  }

  #form_header {
    font-size: 40px;
    line-height: 52px;
    text-align: left;
    padding-right: 24px;
    margin-right: 24px;
  }

  #form_section {
    padding: 130px 135px;
  }

  #finish {
    display: none;
  }

  ul.contact_ul li {
    justify-content: left;
  }

  #work_cards button {
    display: none;
  }

  #work_cards > article {
    height: 435px;
    width: 369px;
    transition: all 0.5s ease-in-out;
  }

  .card02 {
    padding-bottom: 16px;
    transition: all 0.5s ease-in-out;
  }

  #work_cards * {
    transition: all 0.5s ease-in-out;
  }

  #work_cards > article:hover {
    background: url(images/Card_background.png);
    cursor: pointer;
  }

  #work_cards > article:hover .card02 {
    opacity: 0;
  }

  #work_cards > article:hover button {
    display: initial;
  }

  .menu {
    display: none;
  }

  #nav {
    display: flex;
    flex-flow: row;
  }

  #nav li {
    padding: 12px;
    margin: 8px;
  }

  .nav_link {
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0;
    text-align: center;
    color: white;
  }

  header {
    height: 72px;
    padding: 0 142px;
  }
}

@media (min-width: 1100px) {
  .section01 {
    background-image: url(images/Illustration-header.svg);
    background-position: top right -150px;
  }

  .about {
    background-image: url(images/Frame.svg);
    background-repeat: no-repeat;
    background-position: top 100px right -100px;
  }
}

@media (min-width: 1250px) {
  .section01 {
    background-image: url(images/Illustration-header.svg);
    background-position: top right;
  }

  .about {
    background-position: top 100px right;
  }
}

.mobile-menu {
  position: fixed;
  background-color: #dfe1e6;
  width: 100vw;
  height: 100vh;
}
