/* font-family: 'Crete Round', serif;
font-family: 'Inter', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif; */

* {
  box-sizing: border-box;
  margin: 0;
}

button {
  height: 48px;
  width: 100%;
  border: none;
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-family: 'Inter', sans-serif;
  color: #FFFFFF;
  font-size: 17px;
  line-height: 24px;
  background: #FF6B00;
  padding: 12px;
  cursor: pointer;
}

button:hover {
  background: #FFF5E1;
  border: 1px solid #F55800;
  box-sizing: border-box;
  color: #F55800;
}
button:active {
  background: #E05304;
  color: #F4F1F0;
}

.btn01 {
  width: 124px;
}

body {
  background-color: #1c1a19;
}

.block {
  display: flex;
  color: white;

  /* border: 5px solid goldenrod; */
  flex: 1 1;
}

header {
  flex-flow: row;
  justify-content: space-between;
  background-color: #3c3a39;
  align-items: center;
  height: 48px;
}

.name {
  height: 24px;
  left: 12px;
  padding-inline-start: 24px;
  top: 10px;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0;
  text-align: center;
}

.menu {
  height: 40px;
  left: 311px;
  top: 4px;
  margin-inline-end: 24px;
}

.container {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  top: 92px;
}

.text {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
  color: white;
}

section {
  padding-block: 120px;
  padding-inline: 24px;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  height: 100%;
}

.title {
  font-family: 'Crete Round', serif;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0em;
  text-align: left;
}


.title01 {
  left: 24px;
  top: 120px;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 0.37px;
  color: #ff6b00;
  flex: none;
  order: 0;
  flex-grow: 0;

  /* margin: 12px 0px; */
}

.text01 {
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0;
  text-align: left;
  color: #fff5e1;
}

.social_media {
  height: 40px;
  left: 24px;
  top: 430px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
}

.section01 {
  background-image: url(images/Background.svg);
  background-repeat: no-repeat;
  background-position: bottom right;
  background-position-y: calc(100% + 45px);
  /* background-position-y: 115%; */
}

.work {
  background-color: white;
  display: grid;
  row-gap: 24px;
}

.items {
  margin-top: 12px;
  margin-bottom: 0px;
}

.cover {
  margin-top: 80px;
  max-width: 684px;
}

ul {
  list-style-type: none;
}

.presentation{
  font-size: 40px;
  line-height: 52px;
  letter-spacing: 0em;
  text-align: left;
  color: #1c1a19;
  margin-bottom: 24px;
}

.separator {
  border-top: 1px solid #212121;
}

.subtitle {
  width: 100%;
  font-size: 32px;
  line-height: 44px;
  letter-spacing: 0em;
  text-align: left;
  color: #091e42;
}

.card {
  display: flex;
  max-width: 327px;
  flex-flow: column nowrap;
  justify-content: center;
  background: linear-gradient(180.45deg, rgba(38, 38, 38, 0) 0.75%, rgba(38, 38, 38, 0.9) 61.94%),
  url(images/Card_background.png);
  background-repeat: no-repeat;

}
.card01 {
  display: flex;
  max-width: 448px;
  flex-flow: column nowrap;
  justify-content: center;
}

.text03 {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #091E42;
}

.languages {
  display: flex;
  flex-flow: row;
  justify-content: flex start;
  width: 100%;
  padding: 0px;
}

.lang_item {
  border: 1px solid #8993A4;
  box-sizing: border-box;
  color: #091E42;
  height: 40px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  text-align: center;
  padding: 10px 12px;
  margin-inline-end: 12px;
}

